In [ ]:
import pandas as pd

In [ ]:
csv_catalog = 'catalog_data.csv'
df_cat = pd.read_csv(csv_catalog)

In [53]:
df_cat.shape

(1604389, 32)

In [55]:
xl_auc = 'auction_data_combined.xlsx'
df_auc = pd.read_excel(xl_auc)

In [56]:
df_auc.shape

(312, 73)

In [57]:
df_cat.head()

,BROK_CD,AUCTC_CD,SALE_NO,LOT_NO,GRD_CD,TEA_TYPE,G_CODE,INV_NO,INV_DT,N_O_BAGS,...,PRAM_CODE4_VAL,PRAM_CODE6_VAL,PRAM_CODE8_VAL,PRAM_CODE9_VAL,PRAM_CODE10_VAL,PRAM_CODE13_VAL,ARRIVAL_DT,MATRL_CODE,SALE_DATE,CTC_ORTH
0,PAR,G,5,3118,PD,2,BOROKAI,D702,NaN,10,...,3.0,2.0,25.0,24.0,12.0,12.0,07-JAN-16,3PO33,02-FEB-16,NaN
1,PAR,G,5,3119,PD1,2,BUNDOOKMARA,DC596,NaN,30,...,2.0,3.0,25.0,24.0,12.0,12.0,11-JAN-16,3CSDO33,02-FEB-16,NaN
2,PAR,G,5,3120,PD1,2,BUNDOOKMARA,DC600,NaN,20,...,2.0,3.0,25.0,24.0,12.0,12.0,11-JAN-16,3CSDO33,02-FEB-16,NaN
3,PAR,G,5,3121,PD1,2,BUNDOOKMARA,DC611,NaN,20,...,2.0,3.0,25.0,24.0,12.0,12.0,11-JAN-16,3CSDO33,02-FEB-16,NaN
4,PAR,G,5,3083,D1,2,UMABARI,DC440,NaN,17,...,2.0,3.0,25.0,24.0,15.0,12.0,11-JAN-16,3CSDO33,02-FEB-16,NaN

In [58]:
df_auc.head()

,Center,cur_Year,Week_ending,cur_yr_sale_date,cur_yr_sale_no,cur_yr_Offer_CTC_Leaf_Qty_in_Kgs,cur_yr_Offer_CTC_Dust_Qty_in_Kgs,cur_yr_Offer_Ortho_Leaf_Qty_in_Kgs,cur_yr_Offer_Ortho_Dust_Qty_in_Kgs,cur_yr_Offer_Kangra_Leaf_Qty_in_Kgs,...,prv_yr_Sold_Darj_Leaf_Qty_in_Kgs,prv_yr_Sold_Darj_Leaf_Avg_Price,prv_yr_Sold_Darj_Dust_Qty_in_Kgs,prv_yr_Sold_Darj_Dust_Avg_Price,prv_yr_Sold_Green_Leaf_Qty_in_Kgs,prv_yr_Sold_Green_Leaf_Avg_Price,prv_yr_Sold_Green_Dust_Qty_in_Kgs,prv_yr_Sold_Green_Dust_Avg_Price,prv_yr_Sold__Total_Sold_Kgs,prv_yr_Sold__Avg_Price
0,GHY,2016,2016-01-09,2016-01-05 00:00:00,1,4675589.9,1792203.8,11446.5,0.0,0,...,0.0,0.0,0,0,0.0,0.0,0,0,4077196.6,113.597431
1,GHY,2016,2016-01-16,2016-01-12 00:00:00,2,1713211.9,943801.1,14599.3,0.0,0,...,0.0,0.0,0,0,0.0,0.0,0,0,1666928.7,122.679481
2,GHY,2016,2016-01-23,2016-01-19 00:00:00,3,4383979.5,1495639.6,11087.5,0.0,0,...,0.0,0.0,0,0,0.0,0.0,0,0,3686148.6,108.619768
3,GHY,2016,2016-01-30,2016-01-26 00:00:00,4,2865200.3,891447.1,5479.5,0.0,0,...,0.0,0.0,0,0,0.0,0.0,0,0,2164104.5,105.442343
4,GHY,2016,2016-02-06,2016-02-02 00:00:00,5,2735166.1,721424.2,3835.8,0.0,0,...,0.0,0.0,0,0,0.0,0.0,0,0,2694905.7,100.349524